.button-container-two-buttons {
  display: flex;
  justify-content: space-between;
}

.button-container-submit-button {
  display: flex;
  justify-content: flex-end;
}

.button-container-back-button {
  display: flex;
  justify-content: flex-start;
}

.btn {
  white-space: nowrap;
  padding: 5px 50px;
}

nav {
  margin-bottom: 20px;
}

.checkout-completion-card {
  margin-bottom: 1rem;
}

.card-text-element {
  margin-bottom: 0;
}

.change-information-button {
  margin-top: 1rem;
}

.product-article-row {
  padding: 1rem;
  margin: 1rem 0;
}

.nav {
  background-color: #e0e1dd;
  margin-bottom: 1rem;
}

.product-information-holder {
  display: flex;
}

.product-details-holder {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.product-price-holder {
  display: flex;
  justify-content: flex-end;
}

.article-name {
  font-size: large;
}

// .calculate-price-container {
//   display: flex;
//   justify-content: space-between;
// }

.discount-card {
  padding: 0;

  .form-group {
    margin-bottom: 0px;
  }

  button {
    margin-top: 1rem;
  }
}

.cart-price-container {
  display: flex;
  flex-direction: column;
}

.cart-price-information {
  display: flex;
  justify-content: space-between;

  .price-label {
    font-size: large;
    font-weight: bold;
  }

  .price-tag {
    font-size: large;
  }
}
